/*
 *	TITLE    :	ds_WEB_desktop
 *			  	
 *	ABOUT    :	Data Sutra stylesheet for Web
 */

button {
	font-weight: bold;
	font-size: 20px;
	text-align: center; 
	color: #262626;
	
	border-radius: 3px;
	border: 1px solid #666666;
	background-image: linear-gradient(top, #F6F6F7, #A8A8A8);
}

portal {
}

form {
	background-color: #FFFFFF;
	border: 0px solid;
}

form.list {
	background-color: #262626;
}

form.workarea1 {
	background-color: #666666;
}

form.workarea2 {
	background-color: #999999;
}

form.no_selection {	
}

label, button, field, check, radio {
	font-family: Verdana,'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 9px;
	border: 0px solid;
	text-align: left;
	font-color: black;
	color: #000;
}

combobox {
	font-family: Verdana,'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-align: left;
	font-color: black;
	color: #000;
}

field, field.date {
	background-color: #FFF;
	border: 2px ridge #FFF;
	margin: 1px 2px 0px 2px;
}

field.alignright, label.subtotal {
	text-align: right;
}

field.aligncenter {
	text-align: center;
}

field.alignjustify {
	text-align: justify;
}

field.bold {
	font-weight: bold;
}

field.customlist, field.navigationset, field.noborder, field.noborderhtml, field.noborderbold, field.nobordertextarea {
	border: 0px solid;
	margin: 0px 5px 0px 5px; 
}

field.fastfind {
	margin: 0px 20px 0px 27px;
	border: 0px solid black; /*
	border: 1px solid #333333;
	border-bottom-width: 2px;
	*/border-radius: 10px;
	background-color: #dcdcdc;
}

field.customlist {
	margin: 0px 0px 0px 0px; 
}

field.navigationset {
	background-color: white;
}

field.noborderbold {
	font-weight: bold;
}

field.noborderhtml {
	margin: 4px 4px 4px 4px; 
}

field.noedit {
	margin: 1px 2px 0px 10px; 
	background-color: #F1F1F1;
}

field.html, field.textarea, field.nobordertextarea {
	margin: 1px 5px 0px 5px;
}

field.tableview {
	
}

field.textarea, field.textareahtml {
	margin: 1px 5px 0px 5px;
}

field.touch {
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 18pt;
	margin: 0px 6px 0px 6px;
	
	border-radius: 3px;
	border: 1px solid #666666;
}

field.universallist, field.universallist_selected {
	background-color: #999999;
	border: 0px solid;
	/*right margin nothing so that doesn't prematurely truncate end of field*/
	margin: 0px 0px 0px 4px;
}

check {
	text-align: center;
}

check.valuelist {
	text-align: left;
	border: 2px ridge #FFF;
}

check.noborder {
	text-align: left;
	margin: 2px 0px 0px 4px;
	border: 0px solid;
}

combobox {
	background-color: #FFF;
	margin: 0px 4px 0px 4px;
}

radio {
	border: 2px ridge #FFF;
}

listbox {
}

label {
	color: black; 
}

label.bold, label.whitebold {
	font-weight: bold;
}

label.button, label.button_light {
	font-weight: bold;
	/*font-size: 10pt;*/
	text-align: center; 
	color: #262626;
}

label.button_light {
	font-weight: normal;
}

label.button_web {
	font-weight: bold;
	/*font-size: 10pt;*/
	text-align: center; 
	color: #262626;
	
	border-radius: 3px;
	border: 1px solid #666666;
	background-image: linear-gradient(top, #F6F6F7, #A8A8A8);
}

label.developerbutton {
	color: #333333;
	font-family: TrebuchetMS, 'Trebuchet MS';
	font-size: 8px;
	font-weight: bold;
	text-align: center;
	border: 1px solid #999999;
	border-top-width: 0px;
	border-bottom-width: 0px;
}

label.dialogs_icon_generic { background-image: url('media:///dialogs_icon_generic.png'); }
label.dialogs_icon_info { background-image: url('media:///dialogs_icon_info.png'); }
label.dialogs_icon_warning { background-image: url('media:///dialogs_icon_warning.png'); }
label.dialogs_icon_error { background-image: url('media:///dialogs_icon_error.png'); }

label.fidaction {
	font-weight: bold;
	font-size: 10px; 
	font-family: TrebuchetMS, 'Trebuchet MS'; 
	color: white; 
	text-align: center; 
}

label.header {
	font-weight: bold;
	font-family: TrebuchetMS, 'Trebuchet MS';
	color: #333333;
	text-align: center;
	vertical-align: bottom;
	margin-bottom: 1px;
}

label.heading1 {
	font-weight: bold;
	font-family: TrebuchetMS, 'Trebuchet MS';
	font-size: 12px;
	text-align: center;
	color: white;
}

label.heading2 {
	font-weight: bold;
	color: #262626; 
}

label.heading3 {
	font-size: 8px;
	color: #262626; 
}

label.list {
	font-size: 8.5px;
}

label.login_action {
	font-size: 8px;
	color: #999999; 
}

check.login_remember {
	font-size: 8px;
	color: #999999; 
}

label.recordnavigator, label.solutionlogstatus, label.solutionsubheader {
	font-family: TrebuchetMS, 'Trebuchet MS';
	color: #333333;
	text-align: center;
}

label.solutionheader {
	font-weight: bold;
	font-family: TrebuchetMS, 'Trebuchet MS';
	font-size: 14px;
	color: #404040;
	text-align: center;
}

label.solutionlogstatus {
	font-weight: bold;
	font-size: 8px;
	text-align: right;
}

label.tabpanel {
	font-weight: bold;
	font-size: 8px;
	color: #BD4803;
	margin: 0px 2px 0px 6px;
}

label.touch {
	font-size: 16pt;
	margin: 0px 6px 0px 0px;
	text-align: right;
	color: #666666;
}

label.valuelist-hack {
	background-color: #FFF;
	border: 2px ridge #FFF;
}

label.white, label.whitebold {
	color: white;
}

/* colors */
label.color_primary {
	background-color: #666666;
}

label.color_secondary {
	background-color: #999999;
}

label.color_tertiary {
	background-color: #E6E6E6;
}

label.color_dark {
	background-color: #262626;
}

label.color_gray {
	background-color: #D9D9D9;
}

label.color_light {
	background-color: #F1F1F1;
}

label.color_white {
	background-color: #FFFFFF;
}

/* gradients */
label.gfx_header {
	
}

label.gfx_subheader {
}

label.gfx_tableheader {
	background-image: linear-gradient(top, #FFFFFF, #DEDEDE);
}

label.gfx_footer {
}

/* tree styling for navigation item list */
label.tree, label.tree_header, label.tree_arrow_close, label.tree_arrow_open,  
label.tree_select, label.tree_select_arrow_close, label.tree_select_arrow_open {
	margin: 0px 0px 0px 0px;
	font-size: 9px;
	color: #999999;
}

label.tree, label.tree_select {
	margin: 0px 0px 0px 2px;
}

label.tree_arrow_close, label.tree_select_arrow_close {
	background-image: url('media:///row_collapsed.png');
	text-align: right;
}

label.tree_arrow_open, label.tree_select_arrow_open {
	background-image: url('media:///row_expanded.png');
	text-align: right;
}

/* row background */
odd, even, selected {
	background-color: #FFFFFF;
	border: 0px solid #EFEFEF;
	border-bottom-width: 1px;
}

odd {
	background-color: #FFFFFF;
}

even {
	background-color: #FBFBFB;
}

selected {
	background-color: #BED7F7;
}

form.no_selection odd, form.no_selection even, form.no_selection selected {
	background-color: transparent;
}

grid_header {
	background-image: linear-gradient(top, #F6F6F7, #BBBBBB);
	
	border: 0px solid;
	border-right: 1px solid gray;
	
	/*font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;*/
	vertical-align: center;
	color: #333333;
}

/* grid view */
field.tableview, check.tableview, radio.tableview, listbox.tableview, 
combobox.tableview, label.tableview, button.tableview {
	border: 0px solid #EFEFEF;
	border-bottom-width: 1px;
}

label.tableview {
	margin: 1px 0px 0px 0px; 
}

/* tab panel */
tabpanel {
	border: 0px solid;
}

tabpanel.grid_primary {
	border: 1px solid #BBBBBB;
	border-bottom-width: 3px;
	border-top-color: #999999;
}

tabpanel.grid_secondary {
	border: 1px solid #E6E6E6;
	border-bottom-width: 3px;
	border-top-color: #999999;
}

tabpanel.filter_bar {
	background: #CCCCCC;
	border: 0px solid #999999;
	border-bottom-width: 1px;
}

/* settings for label on custom tab controllers */
label.grid_pri_tab_select, label.grid_pri_tab_unselect, label.grid_sec_tab_select, label.grid_sec_tab_unselect {
	font-size: 8px;
	text-align: center;
	vertical-align: center;
}

label.grid_pri_tab_select {
	font-weight: bold;
	color: #BD4803;
}

label.grid_pri_tab_unselect {
	color: #666666;
}

label.grid_sec_tab_select {
	font-weight: bold;
	color: #666666;
}

label.grid_sec_tab_unselect {
	color: #BD4803;
}

label.grid_tab_divider {
	border-color: #999999;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
}

label.defaulttabselect, label.defaulttabunselect, label.defaulttabunselectalt {
	background-color: #999999;
	color: #333333; 
	font-weight: bold;
	text-align: center; 
	border: 1px solid #979897;
	border-top-width: 0px;
	border-bottom-width: 0px;
}

label.defaulttabunselect {
	background-color: #666666;
	font-weight: normal;
}

label.defaulttabunselectalt {
	background-color: #FFFFFF;
}

label.drawntabselect, label.drawntabunselect {
	font-weight: bold;
	color: #262626;
	text-align: center; 
}

label.drawntabunselect {
	color: white;
}

label.standardtabselect, label.standardtabunselect {
	font-weight: bold;
	color: #333333; 
	text-align: center; 
}

label.standardtabunselect {
	font-weight: normal;
}

label.fancytabselect, label.fancytabunselect {
	font-weight: bold;
	font-size: 13pt; 
	font-family: TrebuchetMS, 'Trebuchet MS'; 
	color: #333333; 
	text-align: center; 
}

label.fancytabunselect {
	color: white;
}

label.grid_primary_header, label.grid_secondary_header, label.grid_sub_secondary {
	border-style: solid;
	border-width: 1px;
	border-color: #666666 #666666 #999999 #666666;
	background-color: #999999;
}

label.grid_secondary_header {
	border-color: #666666 #999999 #999999 #999999;
	background-color: #FFFFFF;
}

label.grid_sub_secondary {
	border-color: #666666 #666666 #999999 #666666;
}

/* standard table and bold table grid form pattern*/
field.standard_table, check.standard_table, combobox.standard_table, 
radio.standard_table, listbox.standard_table, button.standard_table, 
field.standard_table_textarea, field.standard_table_htmlarea, 
field.standard_table_bottom, check.standard_table_bottom, combobox.standard_table_bottom, 
radio.standard_table_bottom, listbox.standard_table_bottom, button.standard_table_bottom, 
field.standard_table_textarea_bottom, field.standard_table_htmlarea_bottom,

field.bold_table, check.bold_table, combobox.bold_table, 
radio.bold_table, listbox.bold_table, button.bold_table, 
field.bold_table_textarea, field.bold_table_htmlarea, 
field.bold_table_bottom, check.bold_table_bottom, combobox.bold_table_bottom, 
radio.bold_table_bottom, listbox.bold_table_bottom, button.bold_table_bottom, 
field.bold_table_textarea_bottom, field.bold_table_htmlarea_bottom {
	border-style: solid;
	border-width: 0px 0px 1px 1px;
	border-color: #999999;
	margin: 1px 2px 0px 4px;
	background-color: #F1F1F1;
	
	text-align: left;
}

field.bold_table, check.bold_table, combobox.bold_table, 
radio.bold_table, listbox.bold_table, button.bold_table, 
field.bold_table_textarea, field.bold_table_htmlarea, 
field.bold_table_bottom, check.bold_table_bottom, combobox.bold_table_bottom, 
radio.bold_table_bottom, listbox.bold_table_bottom, button.bold_table_bottom, 
field.bold_table_textarea_bottom, field.bold_table_htmlarea_bottom {
	font-weight: bold;
}


field.standard_table, check.standard_table, combobox.standard_table, 
radio.standard_table, listbox.standard_table, button.standard_table,

field.bold_table, check.bold_table, combobox.bold_table, 
radio.bold_table, listbox.bold_table, button.bold_table {
}

field.standard_table_textarea, field.standard_table_textarea_bottom, 

field.bold_table_textarea, field.bold_table_textarea_bottom {
	margin: 3px 2px 0px 4px;
}

field.standard_table_htmlarea, field.standard_table_htmlarea_bottom, 

field.bold_table_htmlarea, field.bold_table_htmlarea_bottom {
	margin: 4px 2px 0px 4px;
}

field.standard_table_bottom, check.standard_table_bottom, combobox.standard_table_bottom, 
radio.standard_table_bottom, listbox.standard_table_bottom, button.standard_table_bottom, 
field.standard_table_textarea_bottom, field.standard_table_htmlarea_bottom,

field.bold_table_bottom, check.bold_table_bottom, combobox.bold_table_bottom, 
radio.bold_table_bottom, listbox.bold_table_bottom, button.bold_table_bottom, 
field.bold_table_textarea_bottom, field.bold_table_htmlarea_bottom {
	border-width: 0px 0px 0px 1px;
}

label.standard_table_category, label.standard_table, label.standard_table_indent, 
label.standard_table_bottom, label.standard_table_indent_bottom, 

label.bold_table_category, label.bold_table, label.bold_table_indent, 
label.bold_table_bottom, label.bold_table_indent_bottom {
	color: #787878;
	background-color: #EEEEEE;
	border-color: #999999;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	margin: 0px 2px 0px 4px;
}

label.bold_table_category, label.bold_table, label.bold_table_indent, 
label.bold_table_bottom, label.bold_table_indent_bottom {
	font-weight: bold;
}

label.standard_table_category, label.bold_table_category {
	font-weight: bold;
	color: #BD4803;
}

label.standard_table_indent, label.standard_table_indent_bottom,
 
label.bold_table_indent, label.bold_table_indent_bottom  {
	margin: 0px 2px 0px 10px;
}

label.standard_table_bottom, label.standard_table_indent_bottom, 
label.bold_table_bottom, label.bold_table_indent_bottom  {
	border-width: 0px 0px 0px 0px;
}

label.standard_table_check, label.standard_table_check_bottom, 
label.bold_table_check, label.bold_table_check_bottom  {
	border-style: solid;
	border-width: 0px 0px 1px 1px;
	border-color: #999999;
	background-color: #F1F1F1;
}

label.standard_table_check_bottom, label.bold_table_check_bottom {
	border-width: 0px 0px 0px 1px;
}


field.edit_nolabel_top, field.edit_nolabel_middle, field.edit_nolabel_bottom, field.edit_nolabel_singleton,
field.edit_label_top, combobox.edit_label_top, 
field.edit_label_middle, combobox.edit_label_middle, 
field.edit_label_bottom, combobox.edit_label_bottom, 
field.edit_label_singleton, combobox.edit_label_singleton {
	border: 1px solid #BDBDBD;
	margin-left: 7px;
	font-family: 'Helvetica Neue', Arial, Verdana, Helvetica, sans-serif;
	font-size: 16px;
}

field.edit_nolabel_top {
	border-radius: 10px 10px 0px 0px;
}

field.edit_nolabel_middle {
	border-radius: 0px 0px 0px 0px;
	border-top: none;
}

field.edit_nolabel_bottom {
	border-radius: 0px 0px 10px 10px;
	border-top: none;
}

field.edit_nolabel_singleton {
	border-radius: 10px;
}

label.edit_label_top, label.edit_label_middle, label.edit_label_bottom, label.edit_label_singleton {
	border: 1px solid #BDBDBD;
	margin-left: 7px;
	margin-right: 7px;
	text-align: right;
	font-family: 'Helvetica Neue', Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #566a92;
}
/*#A3A3A3*/

field.edit_label_top, combobox.edit_label_top, 
field.edit_label_middle, combobox.edit_label_middle, 
field.edit_label_bottom, combobox.edit_label_bottom, 
field.edit_label_singleton, combobox.edit_label_singleton {
	border-left: 0px;
}

label.edit_label_top {
	border-radius: 10px 0px 0px 0px;
}

field.edit_label_top, combobox.edit_label_top {
	border-radius: 0px 10px 0px 0px;
}

label.edit_label_middle, field.edit_label_middle, combobox.edit_label_middle {
	border-radius: 0px 0px 0px 0px;
	border-top: none;
}

label.edit_label_bottom {
	border-radius: 0px 0px 0px 10px;
	border-top: none;
}

field.edit_label_bottom, combobox.edit_label_bottom {
	border-radius: 0px 0px 10px 0px;
	border-top: none;
}

label.edit_label_singleton {
	border-radius: 10px 0px 0px 10px;
}

field.edit_label_singleton, combobox.edit_label_singleton {
	border-radius: 0px 10px 10px 0px;
}

/* dialog styling from dialogs module (https://www.servoyforge.net/projects/mod-dialog) */
label.dialogs_message {
}
label.dialogs_icon_generic { background-image: url('media:///dialogs_icon_generic.png'); }
label.dialogs_icon_info { background-image: url('media:///dialogs_icon_info.png'); }
label.dialogs_icon_warning { background-image: url('media:///dialogs_icon_warning.png'); }
label.dialogs_icon_error { background-image: url('media:///dialogs_icon_error.png'); }