/* split pane customizations */
.yui-resize {
	background-color: #A1B0CF;
}

.yui-resize .yui-resize-handle-b {
	cursor: row-resize;
}

.yui-resize .yui-resize-handle-r {
	cursor: col-resize;
}

/* popup menu overrides */
.yuimenuitem-selected,
.yuimenubaritem-selected,
.yuimenuitem-selected a,
.yuimenubaritem-selected a  {
	background-color: transparent;
}

.yuimenuitem-selected:focus,
.yuimenubaritem-selected:focus,
.yuimenuitem-selected a:focus,
.yuimenubaritem-selected a:focus {
    outline-width: 0;
}

.yuimenuitemlabel, 
.yuimenuitemlabel-selected {
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}