/* split pane customizations */
.yui-resize {
	background-color: #A1B0CF;
}

.yui-resize .yui-resize-handle-b {
	cursor: row-resize;
}

.yui-resize .yui-resize-handle-r {
	cursor: col-resize;
}

/* popup menu overrides */
.yuimenuitem-selected,
.yuimenubaritem-selected,
.yuimenuitem-selected a,
.yuimenubaritem-selected a  {
	background-color: transparent;
}

.yuimenuitem-selected:focus,
.yuimenubaritem-selected:focus,
.yuimenuitem-selected a:focus,
.yuimenubaritem-selected a:focus,
.yuimenuitemlabel:focus, 
.yuimenuitemlabel-selected:focus {
    outline-width: 0;
}

.yuimenuitemlabel, 
.yuimenuitemlabel-selected,
.yuimenuitemlabel td {
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.yuimenuitemlabel table {
	border-spacing: 0px;
	margin-left: -19px;
}

.yuimenuitemlabel td {
	height: auto;
	line-height: 10px;
	font-size: 11px;
}

.yuimenuitemlabel .img_checkbox {
	background-position-x: 4px;
	background-position-y: -1px;
}

#basicmenu {
	padding-left: 3px;
}