body, input, button, select, td, th, textarea
{
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 11px;
}

body {
	margin: 0px;
}

#sutra, #blocker {
	position: absolute; 
	left: 0px; 
	right: 0px; 
	top: 0px; 
	bottom: 0px; 
}

#sutra {
/*	display: none;*/
	overflow: hidden; /* hidden so that chatter iframe removal doesn't cause scrollbar to show up */
}

#sutra iframe {
	border: 0;
	overflow: hidden;
}

.gsfn-widget-tab {
	background: black !important;
	border-color: black !important;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	opacity: 0.65;
}

#blocker {
	display: none;
	z-index: 100;
	background-color: black;
	opacity:0.3;
}

#report {
	display: none;
	z-index: 101;
	position: fixed;
	top: 5%;
	left: 50%;
	margin-left: -500px;
	width: 1000px;
	height: 90%;
	overflow: visible;
	background-color: #EEE;
	color: #333;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: #202020 0 0 75px;
	-webkit-box-shadow: #202020 0 0 75px;
	-moz-box-shadow: #202020 0 0 75px;
}

#report a.close {
	display: block;
	position: absolute;
	top: -21px;
	width: 42px;
	height: 42px;
	left: -21px;
	background: transparent url('/servoy-webclient/templates/datasutra/images/close_report.png');
	text-indent: -9999px;
	overflow: hidden;
	z-index: 4;
	cursor: pointer;
}

#report a.close:focus {
	outline: none;
}

#report .content {
	width: 100%;
	height: 100%;
}

#download {
	display: none;
}