* { 
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

input.field {
    -webkit-appearance: none;
	border-radius: 0;
}

div.check div label {
	vertical-align: -10%;
}

#report {
	-webkit-overflow-scrolling: touch;
}

@media only screen and (orientation:landscape) { 
    #report { 
		width: 900px;
		margin-left: -450px;
	}
}
@media only screen and (orientation:portrait) {
    #report { 
		width: 700px;
		margin-left: -350px;
	}
}